$size1:13em;
$size2:3.5em;
$size3:3em;
$size4:2em;
$size5:1.5em;
$size6:1em;

ion-content{
  --ion-font-family: "sans-serif";
}

ion-header{
  --ion-text-color:#555;
}

ion-content{
  --background: linear-gradient(#39c4d3, #6DD5FA);
  --ion-text-color:#222;
}

.main{
  text-align: center;
  display: block;
}

.city{
  display: block;
  font-size: $size3;
  font-weight: bold;
  padding-top: 0.2;
}

.date{
  display: block;
  font-size: $size5;
  font-weight:bold ;
}

.temperature{
  display: block;
  font-size: $size3;
  padding: 0px;
  margin: 0px;
}

.description{
 
  display: block;
  font-size: $size3;
  font-weight: bold;
}

.icon{
  display: block;
  font-size: $size4;
  padding-top: 0px;
  width: auto;
}


.iconsmall{
  display: block;
  
  
}



ion-grid{
  text-align: center;
  position: fixed;
  bottom: 0%;
  margin: 0% auto;
}

.day{
  display: block;
  font-weight: bold;

}

.Precipitation{
  display: block;
}

.hi-temp{
  display: block;
}

.sm-temp{
  display: block;
}

