<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Weather 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div class="main">
  <span class="city">Dublin</span>
  <span class="date"> Mon, 3:30pm</span>

  <div class="icon">
    <img src="../../assets/2x.png" alt="">
  </div>

  <span class="description">Sunny</span>
  <span class="temperature"> 17°C</span>
 
</div>

<!--This will be my grid to create my 7 day forecast grid-->
   <ion-grid>
    <!--Row of Days-->
    <ion-row>
      <ion-col class="day">Tue</ion-col>
      <ion-col class="day">Wed</ion-col>
      <ion-col class="day">Thur</ion-col>
      <ion-col class="day">Fri</ion-col>
      <ion-col class="day">Sat</ion-col>
      <ion-col class="day">Sun</ion-col>
      <ion-col class="day">Mon</ion-col>
    </ion-row>
<!--Weather Icons-->
    <ion-row>
      <ion-col>

      </ion-col>
    </ion-row>

   </ion-grid>
    
</ion-content>
