<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Weather 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div class="main">
  <span class="city">Dublin</span>
  <span class="date"> Mon, 3:30pm</span>

  <div class="icon">
    <img src="../../assets/tempIcon.png" alt="">
  </div>

  <span class="description">Sunny</span>
  <span class="temperature"> 17°C</span>
 
</div>

<!--This will be my grid to create my 7 day forecast grid-->
   <ion-grid>
    <!--Row of Days-->
    <ion-row>
      <ion-col class="day">Tue</ion-col>
      <ion-col class="day">Wed</ion-col>
      <ion-col class="day">Thur</ion-col>
      <ion-col class="day">Fri</ion-col>
      <ion-col class="day">Sat</ion-col>
      <ion-col class="day">Sun</ion-col>
      <ion-col class="day">Mon</ion-col>
    </ion-row>
<!--Chance of Precipitation-->
    <ion-row>
      <ion-col class="Precipitation--">25%</ion-col>
      <ion-col class="Precipitation">-</ion-col>
      <ion-col class="Precipitation">60%</ion-col>
      <ion-col class="Precipitation">15%</ion-col>
      <ion-col class="Precipitation">-</ion-col>
      <ion-col class="Precipitation">75%</ion-col>
      <ion-col class="Precipitation">-</ion-col>
    </ion-row>
<!--Weather Icons-->
    <ion-row>
      <ion-col class="smallIcon"><img src="../../assets/tempIcon.svg" alt=""></ion-col>
      <ion-col class="smallIcon"><img src="../../assets/tempIcon.png" alt=""></ion-col>
      <ion-col class="smallIcon"><img src="../../assets/tempIcon.png" alt=""></ion-col>
      <ion-col class="smallIcon"><img src="../../assets/tempIcon.png" alt=""></ion-col>
      <ion-col class="smallIcon"><img src="../../assets/tempIcon.png" alt=""></ion-col>
      <ion-col class="smallIcon"><img src="../../assets/tempIcon.png" alt=""></ion-col>
      <ion-col class="smallIcon"><img src="../../assets/tempIcon.png" alt=""></ion-col>
    </ion-row>
<!--Max Temperature-->
    <ion-row>
      <ion-col class="MaxTemp--">22°C</ion-col>
      <ion-col class="MaxTemp--">-</ion-col>
      <ion-col class="MaxTemp--">14°C</ion-col>
      <ion-col class="MaxTemp--">19°C</ion-col>
      <ion-col class="MaxTemp--">-</ion-col>
      <ion-col class="MaxTemp--">15°C</ion-col>
      <ion-col class="MaxTemp--">-</ion-col>
    </ion-row>

    <!--Min Temperature-->
    <ion-row>
      <ion-col class="MinTemp--">13°C</ion-col>
      <ion-col class="MinTemp--">-</ion-col>
      <ion-col class="MinTemp--">10°C</ion-col>
      <ion-col class="MinTemp--">15°C</ion-col>
      <ion-col class="MinTemp--">-</ion-col>
      <ion-col class="MinTemp--">12°C</ion-col>
      <ion-col class="MinTemp--">-</ion-col>
    </ion-row>

   </ion-grid>
    
</ion-content>
